# Ignore everything
*

# Except these...

!.aliases
!.atom
!.atom/*
!.bash_profile
!.bashrc
!.cabal/config # haskell config
!.i3
!.i3/*
!.chruby
!.colours
!.commitmessage
!.emacs
!.functions
!.gemrc
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitignore_global
!.inputrc
!.pryrc
!.railsrc
!.tmux.conf
!.vim/colors
!.vimrc
!.yarnrc
