# Blacklist files/folders in the same directory as .gitignore
/*

# There is a trick here to include child directories but not all children:
#
# First we dont ignore the directory
# !.thing
# Next we ignore all children of the directory
# .thing
# Finally we dont ignore the child directory
# !.thing/wewantthis

# Except these...
!.Xresources
!.aliases
!.atom/.apmrc
!.atom/config.cson
!.bash_profile
!.bashrc
!.bin
!.cabal/config
!.chruby
!.colours
!.commitmessage
!.config/
.config/*
!.config/mpd/mpd.conf
!.config/gtk-3.0/
!.config/dunst/
!.config/mpd/
!.config/mpd/playlists/
!.config/youtube-dl/
!.config/rofi/
!.ncmpcpp/
.ncmpcpp/error*
!.config/redshift/
!.config/autorandr/
!.emacs
!.functions
!.gemrc
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitignore_global
!.gtkrc-2.0.mine
!.inputrc
!.local
.local/*
!.local/bin/
.local/bin/*
!.local/bin/set-dpi
!.pryrc
!.railsrc
!.tmux.conf
!.vim/colors
!.vimrc
!.vimrc.local
!.vimrc.local.bundles
!.xbindkeysrc
!.xinitrc
!.xprofile
!.Xmodmap

# dwm-era: scripts in ~/bin (note: ~/.bin never existed on this machine)
!bin/
bin/*
!bin/battery-gauge.sh
!bin/battery-notify.sh
!bin/screenshot.sh

# systemd user units -- named individually so systemd's own
# *.target.wants/ enable-state symlinks stay out
!.config/systemd/
.config/systemd/*
!.config/systemd/user/
.config/systemd/user/*
!.config/systemd/user/battery-notify.service
!.config/systemd/user/battery-notify.timer
