# Blacklist files/folders in the same directory as .gitignore
/*

# There is a trick here to include child directories but not all children:
#
# First we dont ignore the directory
# !.thing
# Next we ignore all children of the directory
# .thing
# Finally we dont ignore the child directory
# !.thing/wewantthis

# Except these...
!.Xresources
!.aliases
!.atom/.apmrc
!.atom/config.cson
!.bash_profile
!.bashrc
!.bin
!.cabal/config
!.chruby
!.colours
!.commitmessage
!.config/
.config/*
!.config/mpd/mpd.conf
!.config/gtk-3.0/
!.config/i3/
!.config/i3/compton.conf
!.config/i3status/
!.config/i3blocks/
!.config/dunst/
!.config/mpd/
!.config/mpd/playlists/
!.config/youtube-dl/
!.config/rofi/
!.config/ncmpcpp/
!.config/redshift/
!.emacs
!.functions
!.gemrc
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitignore_global
!.gtkrc-2.0.mine
!.inputrc
!.local
.local/*
!.local/bin/
.local/bin/*
.local/bin/i3blocks
!.pryrc
!.railsrc
!.tmux.conf
!.vim/colors
!.vimrc
!.vimrc.local
!.vimrc.local.bundles
!.xbindkeysrc
!.xinitrc
!.Xmodmap
!.yarnrc
