!-- Xft settings !
!-- Using `xdpyinfo | grep -B 2 resolution` u can find res for ur monitor
!Xft*dpi: 220
Xft*dpi: 160
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintslight
Xft*autohint: false
Xft*lcdfilter: lcddefault

!-- Common settings !
!-- More Themes https://terminal.sexy

! special
*.foreground:   #93a1a1
*.background:   #002b36
*.cursorColor:  #93a1a1

! black
*.color0:       #002b36
*.color8:       #657b83

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #859900
*.color10:      #859900

! yellow
*.color3:       #b58900
*.color11:      #b58900

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #93a1a1
*.color15:      #fdf6e3


!-- Xterm settings !

Xterm*font: *-Terminus-*-*-*-27-*,xft:Font Awesome 5 Free:size=12
XTerm*utf8: 2
XTerm*saveLines:            32767

!-- URxvt settings !

!*secondary:  #5E6386
!*active:     #C0C7D4
!*fading: 20
!*fadeColor: nord3

! URxvt*background:           rgba:0000/0000/0000/cccc
! URxvt*transparent:          true
URxvt*shading:              20
URxvt*depth:                32
! URxvt*externalBorder:       0
! URxvt*internalBorder:       1
! URxvt*borderLess:           false
URxvt*colorUL:  yellow
! URxvt*underlineColor:  yellow


URxvt*font: xft:Dejavu Sans Mono:size=9,xft:Font Awesome 5 Free:size=8,xft:Inconsolata\ for\ Powerline:pixelsize=22
URxvt*letterSpace: -1
URxvt*saveLines: 1000000

/* Additional settings */
! URxvt*font:  -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12 */
! URxvt*boldFont:  -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12 */
! URxvt*italicFont:  xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12 */
! URxvt*boldItalicFont:  xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12 */
! URxvt*loginShell:  true */
! URxvt*scrollTtyKeypress:  true */


!-- Perl extensions !
URxvt*perl-ext-common: default,clipboard,matcher,font-size,url-select,keyboard-select
URxvt*url-launcher: /usr/bin/xdg-open
URxvt*url-select.launcher:  /usr/bin/slimjet-browser -new-tab
URxvt*url-select.underline: true
URxvt*matcher.button: 1

! -- Search scrollback buffer
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

!-- Change background/foreground colours !
URxvt*keysym.C-7: command:\033]11;#ffffff\007\033]10;black\007
URxvt*keysym.C-6: command:\033]11;#000000\007\033]10;white\007

!-- Change font size on the fly !
!URxvt*keysym.C-equal: font-size:increase
!URxvt*keysym.C-underscore: font-size:decrease
URxvt*keysym.C-Up:     font-size:increase
URxvt*keysym.C-Down:   font-size:decrease
URxvt*keysym.C-S-Up:   font-size:incglobal
URxvt*keysym.C-S-Down: font-size:decglobal
URxvt*keysym.C-equal:  font-size:reset
URxvt*keysym.C-slash:  font-size:show
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:     false
URxvt.iso14755_52:  false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:     builtin-string:
URxvt.keysym.C-M-v:     builtin-string:

! Bing Ctrl-Shift-C & Ctrl-Shift-V to copy and paste
URxvt*keysym.C-S-V: eval:paste_clipboard
URxvt*keysym.C-S-C: eval:selection_to_clipboard

! URxvt*keysym.Shift-Alt-V: eval:paste_clipboard
! URxvt*keysym.Shift-Alt-C: eval:selection_to_clipboard
! URxvt*keysym.C-M-c:     perl:clipboard:copy;
! URxvt*keysym.C-M-v:     perl:clipboard:paste;

! URxvt*scrollBar: false */
! URxvt*scrollBar:            false
! URxvt*scrollTtyKeypress:    true
! URxvt*scrollTtyOutput:      false
! URxvt*scrollWithBuffer:     false
! URxvt*scrollstyle:          plain
! URxvt*secondaryScroll:      true

! enable scrollbar
URxvt*scrollBar:          true
URxvt*thickness:          5
URxvt*scrollColor:        #1E1E1E
!URxvt*troughColor:        #333333
! scrollbar without a trough
!URxvt*scrollBar_floating: false
URxvt*scrollBar_right:    true
URxvt*scrollstyle:        plain

URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
